.loginPageContainer{
    display: flex;
}

.user{
    position:absolute;
    left:10px;
    margin-top: 5px;
}

.inputText{
    padding-left: 25px;
}

.fbIcon{
    color: #3b5998;

}
.twitterIcon{
    color: #00acee;
}
/* ul{
    display: flex;
} */

.welcomeContainer{
    position: relative;
    width:900px;
}

.image{
    width:400px;
}
 #img{
    width:400px;
    height:300px;

 }
.logoBtn{
    position: absolute;
    top:20%;
    left:100%;
}