.loginPageContainer{
    display: flex;
    width:100%;
}

.user{
    position:absolute;
    left:10px;
    margin-top: 5px;
}

.inputText{
    padding-left: 25px;
}

.fbIcon{
    color: #3b5998;

}
.twitterIcon{
    color: #00acee;
}
.login-btn{
    margin-left: 30px;
}
.ulBullets{
    list-style-type:none;
}

.socialLi{
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:2;
    *display:inline;
    padding:3px;
    /* this fix is needed for IE7- */
}

.vbottom{
    position: relative;
    top: 100%;
    transform: translateY(-100%); 
}


.loginBackground{
    padding: 8px 20px;
    margin: 24px -20px;
    box-shadow: none!important;
    background-color: #E7E9EB;
    border-radius: 5px;
    padding: 0.01em 16px;
    margin: 20px 0;
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
*/
}
.register{
    padding-top: 450px;
}
 .register-link{
     color:black;
     font-weight: bold;
     text-decoration: underline;
 }

.welcomeContainer{
    position: relative;
    width:100%;
}

.image{
    width:400px;
}
 #img{
    width:400px;
    height:300px;

 }
.logoBtn{
    position: absolute;
    top:20%;
    left:100%;
}