.cardContainer{
    width:auto;
    display: flex;
    align-items: stretch;
    align-content: space-between;
}
.productImage{
    width:100px;
    height:100px;
}
#p{
    text-overflow: initial;
}

.imgresponsive {
    width: 100%;
    max-height: 200px;
    height: auto;
  }