.AdvantagesText{
    padding: 10px 80px;
}
.AlignText{
    text-align:justify;
    align-content:center;
}

.block {
    
    text-align: center;
    vertical-align: middle;
}
.Circle {
    background: #C4C4C4;
    border-radius: 50%;
    color: white;
    height: 90px;
    font-weight: bold;
    width: 90px;
    display: table;
    margin: 20px auto;
}
.Center{
    align-content:center;
}

.Display{
    display: flex;
}

.BgColor{
    background-color: #F7F1D4;
    width:100%
}